/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 8, 2024, 12:52:10 AM
    Author     : Admin
*/

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    margin-right: 5px;
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-btn i {
    margin-right: 5px;
}

