<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <servlet>
        <servlet-name>HomeContronller</servlet-name>
        <servlet-class>AccountControll.HomeContronller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>AccountControll.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>AccountControll.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdmin</servlet-name>
        <servlet-class>AdminControlles.DashboardAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>AccountControll.ChangePasswordControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LossPasswordController</servlet-name>
        <servlet-class>AccountControll.LossPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutControll</servlet-name>
        <servlet-class>CommonControll.AboutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCategoriesControll</servlet-name>
        <servlet-class>CommonControll.AllCategoriesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FreelancerDetailsControll</servlet-name>
        <servlet-class>CommonControll.FreelancerDetailsControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListControll</servlet-name>
        <servlet-class>CommonControll.BlogListControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailsControll</servlet-name>
        <servlet-class>CommonControll.BlogDetailsControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogGridControll</servlet-name>
        <servlet-class>CommonControll.blogGridControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitersProfileEditControll</servlet-name>
        <servlet-class>AccountControll.RecruiterProfileEditControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>AccountControll.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputFreelancerProfileController</servlet-name>
        <servlet-class>AccountControll.InputFreelancerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputRecruiterProfileController</servlet-name>
        <servlet-class>AccountControll.InputRecruiterProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAccountTypeController</servlet-name>
        <servlet-class>AccountControll.SelectAccountTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAdmin</servlet-name>
        <servlet-class>AdminControlles.ProfileAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFreelancer</servlet-name>
        <servlet-class>AdminControlles.ManageFreelancerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRecruiterAdmin</servlet-name>
        <servlet-class>AdminControlles.ManageRecruiterAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile_Freelancer</servlet-name>
        <servlet-class>AccountControll.UpdateProfile_Freelancer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyDetailControll</servlet-name>
        <servlet-class>CommonControll.CompanyDetailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListApply</servlet-name>
        <servlet-class>AdminControlles.ListApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePass</servlet-name>
        <servlet-class>AccountControll.changePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusUserAdmin</servlet-name>
        <servlet-class>AdminControlles.ChangeStatusUserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile_Freelancer</servlet-name>
        <servlet-class>AccountControll.ViewProfile_Freelancer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategoryAdmin</servlet-name>
        <servlet-class>AdminControlles.ViewCategoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostFavouritesControll</servlet-name>
        <servlet-class>FreelancerControll.PostFavouritesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListApplyControll</servlet-name>
        <servlet-class>FreelancerControll.ListApplyControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>RecruiterControll.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageJobsPostsControll</servlet-name>
        <servlet-class>RecruiterControll.ManageJobsPostsControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAllApplicationControll</servlet-name>
        <servlet-class>RecruiterControll.ManageAllApplicationControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletedProjectsControll</servlet-name>
        <servlet-class>RecruiterControll.CompletedProjectsControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpiredProjectsControll</servlet-name>
        <servlet-class>RecruiterControll.ExpiredProjectsControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostControll</servlet-name>
        <servlet-class>RecruiterControll.CreatePostControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyListPostRecruiterControll</servlet-name>
        <servlet-class>RecruiterControll.MyListPostRecruiterControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostFavouritesControll</servlet-name>
        <servlet-class>FreelancerControll.DeletePostFavouritesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailsControll</servlet-name>
        <servlet-class>CommonControll.PostDetailsControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobControll</servlet-name>
        <servlet-class>FreelancerControll.ApplyJobControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllListPostControll</servlet-name>
        <servlet-class>CommonControll.AllListPostControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobInListPostControll</servlet-name>
        <servlet-class>FreelancerControll.ApplyJobInListPostControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFavouritesControll</servlet-name>
        <servlet-class>FreelancerControll.AddFavouritesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFavouritesControll</servlet-name>
        <servlet-class>FreelancerControll.DeleteFavouritesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectAdmin</servlet-name>
        <servlet-class>AdminControlles.ProjectAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModerationProjectAdmin</servlet-name>
        <servlet-class>AdminControlles.ModerationProjectAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogsAdmin</servlet-name>
        <servlet-class>AdminControlles.BlogsAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSkill</servlet-name>
        <servlet-class>AdminControlles.EditSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusPostServlet</servlet-name>
        <servlet-class>RecruiterControll.ChangeStatusPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobforFreelancer</servlet-name>
        <servlet-class>FreelancerControll.JobforFreelancer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillAdmin</servlet-name>
        <servlet-class>AdminControlles.SkillAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSkill</servlet-name>
        <servlet-class>AdminControlles.AddSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobFormListPostControll</servlet-name>
        <servlet-class>FreelancerControll.ApplyJobFormListPostControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobFromPostDetailControl</servlet-name>
        <servlet-class>FreelancerControll.ApplyJobFromPostDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruiterFavouritesControll</servlet-name>
        <servlet-class>RecruiterControll.RecruiterFavouritesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFreelancerControll</servlet-name>
        <servlet-class>RecruiterControll.ListFreelancerControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFreelancerProfileControll</servlet-name>
        <servlet-class>RecruiterControll.ViewFreelancerProfileControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFreelancerFavoritesControll</servlet-name>
        <servlet-class>RecruiterControll.AddFreelancerFavoritesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFreelancerFavoritesControll</servlet-name>
        <servlet-class>RecruiterControll.DeleteFreelancerFavoritesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecruiterFavouritesControll</servlet-name>
        <servlet-class>RecruiterControll.DeleteRecruiterFavouritesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartControll</servlet-name>
        <servlet-class>RecruiterControll.ChartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailControll</servlet-name>
        <servlet-class>RecruiterControll.SendEmailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInHomeControll</servlet-name>
        <servlet-class>CommonControll.SearchInHomeControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostByCategory</servlet-name>
        <servlet-class>FreelancerControll.PostByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostByLocation</servlet-name>
        <servlet-class>FreelancerControll.PostByLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyDetailCommon</servlet-name>
        <servlet-class>CommonControll.CompanyDetailCommon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPost</servlet-name>
        <servlet-class>CommonControll.ReportPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInListApplyControll</servlet-name>
        <servlet-class>FreelancerControll.SearchInListApplyControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInPostFavoControll</servlet-name>
        <servlet-class>FreelancerControll.SearchInPostFavoControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobFormSearchControll</servlet-name>
        <servlet-class>FreelancerControll.ApplyJobFormSearchControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectFreelancerControll</servlet-name>
        <servlet-class>RecruiterControll.ConnectFreelancerControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>RecruiterControll.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFreelancerFvrControll</servlet-name>
        <servlet-class>RecruiterControll.SearchFreelancerFvrControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogController</servlet-name>
        <servlet-class>CommonControll.SearchBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChartDataServlet</servlet-name>
        <servlet-class>AdminControlles.GetChartDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDuplicateSkill</servlet-name>
        <servlet-class>AdminControlles.CheckDuplicateSkill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeContronller</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdmin</servlet-name>
        <url-pattern>/dashboardAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LossPasswordController</servlet-name>
        <url-pattern>/lostpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutControll</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCategoriesControll</servlet-name>
        <url-pattern>/allCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FreelancerDetailsControll</servlet-name>
        <url-pattern>/FreelancerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListControll</servlet-name>
        <url-pattern>/blogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailsControll</servlet-name>
        <url-pattern>/BlogDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogGridControll</servlet-name>
        <url-pattern>/blogGrid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitersProfileEditControll</servlet-name>
        <url-pattern>/recruitersetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputFreelancerProfileController</servlet-name>
        <url-pattern>/InputFreelancerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputRecruiterProfileController</servlet-name>
        <url-pattern>/InputRecruiterProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAccountTypeController</servlet-name>
        <url-pattern>/SelectAccountType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAdmin</servlet-name>
        <url-pattern>/profileAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFreelancer</servlet-name>
        <url-pattern>/manageFreelancerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRecruiterAdmin</servlet-name>
        <url-pattern>/manageRecruiterAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.example.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile_Freelancer</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyDetailControll</servlet-name>
        <url-pattern>/companydetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListApply</servlet-name>
        <url-pattern>/listapply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusUserAdmin</servlet-name>
        <url-pattern>/changeStatusUserAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile_Freelancer</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategoryAdmin</servlet-name>
        <url-pattern>/categoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostFavouritesControll</servlet-name>
        <url-pattern>/PostFavourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListApplyControll</servlet-name>
        <url-pattern>/ListApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageJobsPostsControll</servlet-name>
        <url-pattern>/manageJobsPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAllApplicationControll</servlet-name>
        <url-pattern>/ManageApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletedProjectsControll</servlet-name>
        <url-pattern>/CompletedProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpiredProjectsControll</servlet-name>
        <url-pattern>/ExpiredProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostControll</servlet-name>
        <url-pattern>/CreatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyListPostRecruiterControll</servlet-name>
        <url-pattern>/myListJobProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostFavouritesControll</servlet-name>
        <url-pattern>/DeletePostFavourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailsControll</servlet-name>
        <url-pattern>/PostDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobControll</servlet-name>
        <url-pattern>/ApplyJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllListPostControll</servlet-name>
        <url-pattern>/AllListPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobInListPostControll</servlet-name>
        <url-pattern>/ApplyJobInListPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFavouritesControll</servlet-name>
        <url-pattern>/AddFavourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFavouritesControll</servlet-name>
        <url-pattern>/DeleteFavourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectAdmin</servlet-name>
        <url-pattern>/projectAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModerationProjectAdmin</servlet-name>
        <url-pattern>/moderationProjectAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogsAdmin</servlet-name>
        <url-pattern>/blogAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSkill</servlet-name>
        <url-pattern>/editSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusPostServlet</servlet-name>
        <url-pattern>/ChangeStatusPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobforFreelancer</servlet-name>
        <url-pattern>/JobforFreelancer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillAdmin</servlet-name>
        <url-pattern>/skillAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSkill</servlet-name>
        <url-pattern>/addSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobFormListPostControll</servlet-name>
        <url-pattern>/ApplyJobFormListPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobFromPostDetailControl</servlet-name>
        <url-pattern>/ApplyJobFromPostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruiterFavouritesControll</servlet-name>
        <url-pattern>/RecruiterFavourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFreelancerControll</servlet-name>
        <url-pattern>/ListFreelancer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFreelancerProfileControll</servlet-name>
        <url-pattern>/ViewFreelancerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFreelancerFavoritesControll</servlet-name>
        <url-pattern>/AddFreelancerFavorites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFreelancerFavoritesControll</servlet-name>
        <url-pattern>/DeleteFreelancerFavorites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecruiterFavouritesControll</servlet-name>
        <url-pattern>/DeleteRecruiterFavourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartControll</servlet-name>
        <url-pattern>/Chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailControll</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInHomeControll</servlet-name>
        <url-pattern>/SearchInHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostByCategory</servlet-name>
        <url-pattern>/postbycategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostByLocation</servlet-name>
        <url-pattern>/postbylocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyDetailCommon</servlet-name>
        <url-pattern>/companydetailcommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPost</servlet-name>
        <url-pattern>/allListPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInListApplyControll</servlet-name>
        <url-pattern>/SearchInListApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInPostFavoControll</servlet-name>
        <url-pattern>/SearchInPostFavo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobFormSearchControll</servlet-name>
        <url-pattern>/ApplyJobFormSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectFreelancerControll</servlet-name>
        <url-pattern>/ConnectFreelancer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFreelancerFvrControll</servlet-name>
        <url-pattern>/SearchFreelancerFvr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogController</servlet-name>
        <url-pattern>/searchBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChartDataServlet</servlet-name>
        <url-pattern>/GetChartData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDuplicateSkill</servlet-name>
        <url-pattern>/checkDuplicateSkill</url-pattern>
    </servlet-mapping>
</web-app>
