<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeContronller</servlet-name>
        <servlet-class>AccountControll.HomeContronller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>AccountControll.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>AccountControll.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdmin</servlet-name>
        <servlet-class>AdminControlles.DashboardAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>AccountControll.ChangePasswordControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LossPasswordController</servlet-name>
        <servlet-class>AccountControll.LossPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutControll</servlet-name>
        <servlet-class>CommonControll.AboutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCategoriesControll</servlet-name>
        <servlet-class>CommonControll.AllCategoriesControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FreelancerDetailsControll</servlet-name>
        <servlet-class>CommonControll.FreelancerDetailsControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListControll</servlet-name>
        <servlet-class>CommonControll.BlogListControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailsControll</servlet-name>
        <servlet-class>CommonControll.BlogDetailsControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogGridControll</servlet-name>
        <servlet-class>CommonControll.blogGridControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruiterProfileControll</servlet-name>
        <servlet-class>AccountControll.RecruiterProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitersProfileEditControll</servlet-name>
        <servlet-class>AccountControll.RecruiterProfileEditControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>AccountControll.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputFreelancerProfileController</servlet-name>
        <servlet-class>AccountControll.InputFreelancerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputRecruiterProfileController</servlet-name>
        <servlet-class>AccountControll.InputRecruiterProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAccountTypeController</servlet-name>
        <servlet-class>AccountControll.SelectAccountTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAdmin</servlet-name>
        <servlet-class>AdminControlles.ProfileAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFreelancer</servlet-name>
        <servlet-class>AdminControlles.ManageFreelancerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRecruiterAdmin</servlet-name>
        <servlet-class>AdminControlles.ManageRecruiterAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>AccountControll.ViewProfile_Freelancer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile_Freelancer</servlet-name>
        <servlet-class>AccountControll.UpdateProfile_Freelancer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusUserAdmin</servlet-name>
        <servlet-class>AdminControlles.ChangeStatusUserAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeContronller</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdmin</servlet-name>
        <url-pattern>/dashboardAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LossPasswordController</servlet-name>
        <url-pattern>/lostpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutControll</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCategoriesControll</servlet-name>
        <url-pattern>/AllCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FreelancerDetailsControll</servlet-name>
        <url-pattern>/FreelancerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListControll</servlet-name>
        <url-pattern>/blogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailsControll</servlet-name>
        <url-pattern>/BlogDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogGridControll</servlet-name>
        <url-pattern>/blogGrid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruiterProfileControll</servlet-name>
        <url-pattern>/recruiterprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitersProfileEditControll</servlet-name>
        <url-pattern>/recruitersetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputFreelancerProfileController</servlet-name>
        <url-pattern>/InputFreelancerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputRecruiterProfileController</servlet-name>
        <url-pattern>/InputRecruiterProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAccountTypeController</servlet-name>
        <url-pattern>/SelectAccountType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAdmin</servlet-name>
        <url-pattern>/profileAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFreelancer</servlet-name>
        <url-pattern>/manageFreelancerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRecruiterAdmin</servlet-name>
        <url-pattern>/manageRecruiterAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.example.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile_Freelancer</servlet-name>
        <url-pattern>/UpdateProfile_Freelancer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusUserAdmin</servlet-name>
        <url-pattern>/changeStatusUserAdmin</url-pattern>
    </servlet-mapping>
</web-app>
